<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @disatance_and_time.start_id %>
</p>

<p>
  <strong>End:</strong>
  <%= @disatance_and_time.end_id %>
</p>

<p>
  <strong>Cost time:</strong>
  <%= @disatance_and_time.cost_time %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @disatance_and_time.distance %>
</p>

<%= link_to 'Edit', edit_disatance_and_time_path(@disatance_and_time) %> |
<%= link_to 'Back', disatance_and_times_path %>
